name: Deploy to AWS (CDK)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::595779877803:role/GitHubAction-Deploy-AWS-CDK-Test
          aws-region: us-east-1  

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install CDK dependencies
        working-directory: ./aws-cdk-test
        run: npm install

      - name: Deploy CDK Stack
        working-directory: ./aws-cdk-test
        run: npx cdk deploy --all --require-approval never